.game_api_img {
  width: 200px !important;
  height: 150px !important;
}
.dracarys-img {
    /*width: 415px !important;/**/
    /*height: 718px !important;*/
    width: 100%;
    height: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
}


.profile{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-spacing: 10% !important;
    border-color: #40A6A9 !important;
    border-spacing: 10%;
    border-style: solid;
    margin-left: 15%;
    margin-bottom: 4%;
    margin-top: 2%;
}