{% include nav.html %}

    <div class="wrapper-masthead">
      <div class="container text-center">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{site.baseurl}}/assets/images/neural_net_icon.png" /></a>

          <div class="site-info text-center">
            <h1 class="site-name">Synapse</h1>
            <h2 class="site-description">A Computer vision and Deep learning blog</h2>
            <span>
              <!-- Personal Info. -->
              By <a href="{{ site.baseurl }}/">Jonathan Mitchell</a>
            </span>
          </div>
        </header>
      </div>
    </div>

{{content}}

<ul style="list-style: none" class="myposts">
{% for post in site.posts %}
    <li><a href="{{ post.url }}">{{ post.title}}</a>
    <span class="postDate">{{ post.date | date: "%b %-d, %Y" }}</span>
    </li>
{% endfor %}
</ul>

